
.container{
    /* border: solid black; */
    display: grid;
    
    grid-template-rows: repeat(4, auto) repeat(2, 20px) repeat(4, auto);
    grid-template-columns: repeat(8, 12.5%) ;
    gap: 2px;
    grid-template-areas: 
    "header header header header header header header header"
    "header header header header header header header header"
    "header header header header header header header header"
    "header header header header header header header header"
    "navbar navbar navbar navbar navbar navbar navbar navbar" 
    "navbar navbar navbar navbar navbar navbar navbar navbar" 
    "main main main main main main main aside" 
    "main main main main main main main aside" 
    "main main main main main main main aside"  
    "main main main main main main main aside"  
    ;
}

a{
margin: 0;
margin-right: 20%;
}

.box{
    border: 3px double black; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* .container > div{
    
    border: 3px double black;
    margin-top: 0px;
    padding-top: 0px;
} */
.item-1{
    grid-area: header;
    border-color: red;
    color: blue;
    background-color: white;
}

.item-2{
    grid-area: main;
}
.item-3{
    grid-area: footer;
}
.item-4{
    grid-area: navbar;
    
}
.item-8{
    grid-area: aside;
}