*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: ClaySerif; 
}
 @font-face {
    font-family: "ClaySerif";
    src: url(ClaySerif.ttf);
}
body{ 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
header{
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: #444;
    padding-bottom: 20px;
    padding-top: 5px;
    z-index: 1000;

}

ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin: 0px 10px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}



.nav-container{
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 10%;
    padding-left: 1%;
    gap: 1%;
    padding-top: 8px;
}

.nav-links a{

    border: 2px solid #F4F4F4;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: black;

}

#nav-cta a:hover{
    color: #000e8d;
    background-color: #f4f4f48c;
    
}

#nav-cta{
    margin-right: 1%;
}

.nav-links a:hover{
    border-color: black;
    background-color: rgba(0, 0, 0, 0.414);
    color: #F4F4F4;
}

.nav-links::after{
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0); 
    width: 40%;
    height: 2px;
    transition: transform 0.5s ease; 
    transform-origin: center; 
}

.nav-links:hover{
    transition: transform 0.3s ease; 
    transform: translateY(3px); 

}

/* Creating indicators as to which wepage the phone is currently on. */

#indexPage > div > a{
    border-color: black;
    background-color: #00000080;
    color: white;
}

#indexPage > div > a:hover{
    border: 2px solid #F4F4F4;
    color: #0015d1;
}

#aboutPage > div >a{
    border-color: black;
    background-color: #00000080;
    color: white;
}

#aboutPage > div >a:hover{
    border: 2px solid #F4F4F4;
    color: #0015d1;
}

#galleryPage > div >a{
    border-color: black;
    background-color: #00000080;
    color: white;
}

#galleryPage > div >a:hover{
    border: 2px solid #F4F4F4;
    color: #0015d1;
}

#pricesPage > div >a{
    border-color: black;
    background-color: #00000080;
    color: white;
}

#pricesPage > div >a:hover{
    border: 2px solid #F4F4F4;
    color: #0015d1;
}


#nav-cta  > .schedulingPage > div > a{
    color: #000e8d;
    background-color: #f4f4f48c;
    border-color: black;

}

/* Turning off the indictors while something else is hovered */
#indexPage > .noIndictor > a{
    border-color: #F4F4F4;
    background-color: #11111100;
    color: black;

}

#aboutPage > .noIndictor > a{
    border-color: #F4F4F4;
    background-color: #11111100;
    color: black;

}

#galleryPage > .noIndictor > a{
    border-color: #F4F4F4;
    background-color: #11111100;
    color: black;

}


#pricesPage > .noIndictor > a{
    border-color: #F4F4F4;
    background-color: #11111100;
    color: black;

}


#nav-cta > .orderPage  > .noIndictor > a{
    border-color: #F4F4F4;
    background-color: #11111100;
    color: black;

}

/* Styling the Search bar */
#search{
    margin-left: auto;

}


.search-wrapper {
    display: flex;
    max-width: fit-content;
    max-height: 40px;
    overflow: auto;
    flex-direction: column;
    gap: .25rem;


  }
  
  input {
    font-size: 1rem;
  }
  
  .phone-cards {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
  }
  
  .card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    border-radius: 15px;
    font-size: xx-small;
  }
  
  .card > .header {
    margin-bottom: .25rem;
  }

  .body > a{
    text-decoration: none;
    color: #000e8d;
  }
  
  .hide {
    display: none;
  }

/* ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin: 0px 10px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
} */


h1 h2{
    margin-bottom: 10px;
}
main{
    width: 65%;
    margin: auto;
    padding: 10px;
    height: 500px;
    background-color: #f4f4f4;
}

section{
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #444;
    width: 100%;
    height: 50px; 
    padding: 10px;
    color: #fff;
    text-align: center;
}
nav ul li a:hover{
    color:cyan;
    border: 3px solid #535353;
    padding: 4px;
    border-radius: 5px;
}

.imagewrap{
    float: left;
    position: relative;
}
section{
    background-color: #535353;
    color: #fff;
    border-radius: 25px;
    margin-top: 25px;
}
.form{
    color: #444;
    background-color: #fff;
}
form{
    padding: 20px;
    width: 100%;
}
button{
    background-color: #333;
    color: #fff;
}
option{
    background-color: #333;
    color: #fff;
}
input{
    background-color: #333;
    color: #fff;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-areas:
    "image1 image2 image3" 
    "image4 image5 image6"; */
    justify-content: center;
}
.box{
    background-color: #444;
    padding: 5px;
    margin: 5px;
    border-radius: 25px;

}
/* 
.item1{
    grid-area: image1;
}
.item2{
    grid-area: image2;
}
.item3{
    grid-area: image3;
}
.item4{
    grid-area: image4;
}
.item5{
    grid-area: image5;
}
.item6{
    grid-area: image6;
}
textarea{
    width: 1460;
    height: 110;
 */
.imagewrap{
    margin-right: 2.5vw;
}

a > button:hover{
    border-color: black;
    background-color: rgba(0, 0, 0, 0.414);
    color: cyan;
}