@import './partials/_header.scss';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;

    .register-container {
        width: 60%;
        height: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        h1 {text-align: center;}
        .info-box {
            background-color: #1522ce;
            color: white;
            width: 40%;
            border-radius: 25px 0 0 25px;
            padding: 10px;
        }
        .register-box {
            background-color: lightgray;
            width: 60%;
            border-radius: 0 25px 25px 0;
            padding: 10px;
            form {
                p {
                    font-size: 1.5rem;
                    margin: 25px;
                    input {
                        background-color: gray;
                        color: white;
                        font-size: 1.5rem;
                        width: 95%;
                    }
                }
                .button-container {
                    text-align: center;
                    button {
                        background-color: #15ce65;
                        color: white;
                        font-size: 2rem;
                        font-weight: bold;
                        border: 4px solid green;
                        border-radius: 15px;
                        &:hover {
                            background-color: lime;
                            border: 4px solid white;
                        }
                        &:active {
                            background-color: black;
                            border: 4px solid white;
                        }
                    }
                }
            }
        }
    }
}